
		<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
			<tr>
				<td class="kbdH kdbCase kbdClick" _key="q"><span>q</span></td>
				<td class="kbdH kdbCase kbdClick" _key="w"><span>w</span></td>
				<td class="kbdH kdbCase kbdClick" _key="e"><span>e</span></td>
				<td class="kbdH kdbCase kbdClick" _key="r"><span>r</span></td>
				<td class="kbdH kdbCase kbdClick" _key="t"><span>t</span></td>
				<td class="kbdH kdbCase kbdClick" _key="z"><span>z</span></td>
				<td class="kbdH kdbCase kbdClick" _key="u"><span>u</span></td>
				<td class="kbdH kdbCase kbdClick" _key="i"><span>i</span></td>
				<td class="kbdH kdbCase kbdClick" _key="o"><span>o</span></td>
				<td class="kbdH kdbCase kbdClick" _key="p"><span>p</span></td>
				<td class="kbdH kdbCase kbdClick" _key="ő"><span>ő</span></td>
        <td class="kbdH kdbCase kbdClick" _key="ú"><span>ú</span></td>
				<td class="kbdHB kbdClick" _key="Backspace"><span>Töröl</span></td>
			</tr>
		</table>	
		<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
			<tr>
				<td style="width: 1px"><span></span></td>
				<td class="kbdH kdbCase kbdClick" _key="a"><span>a</span></td>
				<td class="kbdH kdbCase kbdClick" _key="s"><span>s</span></td>
				<td class="kbdH kdbCase kbdClick" _key="d"><span>d</span></td>
				<td class="kbdH kdbCase kbdClick" _key="f"><span>f</span></td>
				<td class="kbdH kdbCase kbdClick" _key="g"><span>g</span></td>
				<td class="kbdH kdbCase kbdClick" _key="h"><span>h</span></td>
				<td class="kbdH kdbCase kbdClick" _key="j"><span>j</span></td>
				<td class="kbdH kdbCase kbdClick" _key="k"><span>k</span></td>
				<td class="kbdH kdbCase kbdClick" _key="l"><span>l</span></td>
				<td class="kbdH kdbCase kbdClick" _key="é"><span>é</span></td>
        <td class="kbdH kdbCase kbdClick" _key="á"><span>á</span></td>
        <td class="kbdH kdbCase kbdClick" _key="ű"><span>ű</span></td>
			</tr>
		</table>	
		<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
			<tr>
				<td class="kbdShift kbdClick" _key="Shift"><span>Shift</span></td>
        <td class="kbdH kdbCase kbdClick" _key="í"><span>í</span></td>
				<td class="kbdH kdbCase kbdClick" _key="y"><span>y</span></td>
				<td class="kbdH kdbCase kbdClick" _key="x"><span>x</span></td>
				<td class="kbdH kdbCase kbdClick" _key="c"><span>c</span></td>
				<td class="kbdH kdbCase kbdClick" _key="v"><span>v</span></td>
				<td class="kbdH kdbCase kbdClick" _key="b"><span>b</span></td>
				<td class="kbdH kdbCase kbdClick" _key="n"><span>n</span></td>
				<td class="kbdH kdbCase kbdClick" _key="m"><span>m</span></td>
        <td class="kbdH kdbCase kbdClick" _key="ö"><span>ö</span></td>
        <td class="kbdH kdbCase kbdClick" _key="ü"><span>ü</span></td>
        <td class="kbdH kdbCase kbdClick" _key="ó"><span>ó</span></td>
				<td class="kbdH kbdClick" _key=","><span>,</span></td>
				<td class="kbdH kbdClick" _key="."><span>.</span></td>
				<td class="kbdH kbdClick" _key="?"><span>?</span></td>
			</tr>
		</table>
		<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
			<tr>	
				<td class="kbdD kbdClick" _key="&123"><span class="kAbc">&123</span></td>
				<td width="10" id="settingsButton" _menu="Settings" class="kbdD kbdClick kSettings kMenu" _key="empty"><span></span></td>
				<td class="kbdS kbdClick" _key=" "><span></span></td>
				<td class="kbdD kbdClick" _key="Close"><span class="kClose"></span></td>
				<td class="kbdD kbdClick" _key="Enter"><span>Enter</span></td>
			</tr>
		</table>