<div id="virtualKeyboardChromeExtensionOverlayItA" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="a">a</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&agrave;" _keyC="&Agrave;">&agrave;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&aacute;" _keyC="&Aacute;">&aacute;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&acirc;" _keyC="&Acirc;">&acirc;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&auml;" _keyC="&Auml;">&auml;</li>
  </ul>
</div>

<div id="virtualKeyboardChromeExtensionOverlayItE" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="e">e</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&eacute;" _keyC="&Eacute;">&eacute;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&egrave;" _keyC="&Egrave;">&egrave;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&euml;" _keyC="&Euml;">&euml;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ecirc;" _keyC="&Ecirc;">&ecirc;</li>
  </ul>
</div>

<div id="virtualKeyboardChromeExtensionOverlayItI" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="i">i</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&igrave;" _keyC="&Igrave;">&igrave;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&iacute;" _keyC="&Iacute;">&iacute;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&icirc;" _keyC="&Icirc;">&icirc;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&iuml;" _keyC="&Iuml;">&iuml;</li>
  </ul>
</div>

<div id="virtualKeyboardChromeExtensionOverlayItO" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="o">o</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ograve;" _keyC="&Ograve;">&ograve;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ouml;" _keyC="&Ouml;">&ouml;</li>
  </ul>
</div>

<div id="virtualKeyboardChromeExtensionOverlayItU" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
  <ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="u">u</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ugrave;" _keyC="&Ugrave;">&ugrave;</li>
    <li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&uuml;" _keyC="&Uuml;">&uuml;</li>
  </ul>
</div>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdH kdbCase kbdClick" _key="q"><span>q</span></td>
    <td class="kbdH kdbCase kbdClick" _key="w"><span>w</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" _menu="ItE" _key="e"><span>e</span></td>
    <td class="kbdH kdbCase kbdClick" _key="r"><span>r</span></td>
    <td class="kbdH kdbCase kbdClick" _key="t"><span>t</span></td>
    <td class="kbdH kdbCase kbdClick" _key="y"><span>y</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" _menu="ItU" _key="u"><span>u</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" _menu="ItI" _key="i"><span>i</span></td>
    <td class="kbdH kdbCase kbdClick kMenu" _menu="ItO" _key="o"><span>o</span></td>
    <td class="kbdH kdbCase kbdClick" _key="p"><span>p</span></td>
    <td class="kbdHB kbdClick" _key="Backspace"><span>Backspace</span></td>
  </tr>
</table>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td style="width: 1px"><span></span></td>
    <td class="kbdH kdbCase kbdClick kMenu" _menu="ItA" _key="a"><span>a</span></td>
    <td class="kbdH kdbCase kbdClick" _key="s"><span>s</span></td>
    <td class="kbdH kdbCase kbdClick" _key="d"><span>d</span></td>
    <td class="kbdH kdbCase kbdClick" _key="f"><span>f</span></td>
    <td class="kbdH kdbCase kbdClick" _key="g"><span>g</span></td>
    <td class="kbdH kdbCase kbdClick" _key="h"><span>h</span></td>
    <td class="kbdH kdbCase kbdClick" _key="j"><span>j</span></td>
    <td class="kbdH kdbCase kbdClick" _key="k"><span>k</span></td>
    <td class="kbdH kdbCase kbdClick" _key="l"><span>l</span></td>
    <td class="kbdH kdbCase kbdClick" _key="'"><span>'</span></td>
    <td class="kbdHBE kbdClick" _key="Enter"><span>Enter</span></td>
  </tr>
</table>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdShift kbdClick" _key="Shift"><span class="kShift"></span></td>
    <td class="kbdH kdbCase kbdClick" _key="z"><span>z</span></td>
    <td class="kbdH kdbCase kbdClick" _key="x"><span>x</span></td>
    <td class="kbdH kdbCase kbdClick" _key="c"><span>c</span></td>
    <td class="kbdH kdbCase kbdClick" _key="v"><span>v</span></td>
    <td class="kbdH kdbCase kbdClick" _key="b"><span>b</span></td>
    <td class="kbdH kdbCase kbdClick" _key="n"><span>n</span></td>
    <td class="kbdH kdbCase kbdClick" _key="m"><span>m</span></td>
    <td class="kbdH kbdClick" _key=","><span>,</span></td>
    <td class="kbdH kbdClick" _key="."><span>.</span></td>
    <td class="kbHideEmailInput kbdH kbdClick" _key="?"><span>?</span></td>
    <td class="kbEmailInput kbdH kbdClick" _key="@"><span>@</span></td>
    <td id="urlButton" class="kbdH kbdClick" _key="Url"><span>URL</span></td>
    <td class="kbdShift kbdClick" _key="Shift"><span class="kShift"></span></td>
  </tr>
</table>

<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
  <tr>
    <td class="kbdD kbdClick" _key="&123"><span class="kAbc">&123</span></td>
    <td width="10" id="settingsButton" _menu="Settings" class="kbdD kbdClick kSettings kMenu" _key="empty"><span></span></td>
    <td class="kbdS kbdClick" _key=" "><span></span></td>
    <td class="kbdD kbdClick" _key="Close"><span class="kClose"></span></td>
  </tr>
</table>
